{%load staticfiles%}

<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type ="text/css"
      href = "{% static 'bootstrap.min.css' %}">
    <link rel = "stylesheet" type ="text/css"
      href = "{% static 'style.css' %}">
    <title>Spell Cards</title>
  </head>
  <body>
    <nav class = "navbar navbar-default navbar-static-top text-center">
      <a href="/">
         <img src ="{% static 'images/logo.png' %}" alt = "Spell Cards">
      </a>
      {% if user.is_authenticated %}
        <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}">{{ user.username }}</a>
        <a class="navbar-text navbar-right" href="{% url 'Logout' %}">Logout</a>
    {% else %}
        <a class="navbar-text navbar-right" href="{% url 'Login' %}">Login</a>
    {% endif %}

    </nav>

<main class = "container container--mw700" role = "main">

{% block content %}
{% endblock %}

</main>
<footer>Here is a footer tag</footer>
</body>
</html>
