{% extends 'base.html' %}
{%load staticfiles%}

    {% block content%}
    <div class="row">

            <div class = "spell panel panel-default">

             <div class = "panel-heading">
              <h2 class = "panel-title"> {{spell.name}} </h2>
             </div>

             <div class="panel-body">
              <div class = "spell-photo">
                <img src="{{spell.img_url}}" height ="100">
              </div>
              <table class="spell-table">
                <tr>
                  <th><p>
                    <img src = "{% static 'images/distance-icon.png' %}">
                  &nbsp   Distance:
                  </p>
                  </th>
                  <td>&nbsp{{spell.distance}}</td>
                </tr>
                <tr>
                  <th><p>
                    <img src = "{% static 'images/level-icon.png' %}">
                  &nbsp   Level:
                  </p>
                  </th>
                  <td> &nbsp{{spell.level}}</td>
                </tr>
                <tr>
                  <th><p>
                    <img src = "{% static 'images/school-icon.png' %}">
                  &nbsp   School:
                  </p>
                  </th>
                  <td>&nbsp{{spell.school}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        {%endblock%}
