{% extends 'base.html' %}
{% load staticfiles %}

  {% block content%}
  <div class="row">
      {% for spell in spells %}
       <div class = "col-md-4">
         <a href="/{{spell.id}}/">
          <div class = "spell panel panel-default">
<!this is for displaying on the main page>
           <div class = "panel-heading">
            <h2 class = "panel-title"> {{spell.name}} </h2>
           </div>

            <div class = "spell-photo">
              <img src="{{spell.image.url}}" height ="100">
            </div>
          </div>
        </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
      </div>
    <div class = "spell panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Spell</h3>
      </div>
      <div class="panel-body">
      <form enctype="multipart/form-data" action="post_url/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type = "submit" value = "Submit"/>
      </form>
    </div>
  </div>
{%endblock%}
